<!-- Guest Header -->
<div class="header-brand">
    <a href="/" class="brand-link">
        <i data-lucide="graduation-cap" class="brand-icon"></i>
        <span class="brand-text">Registro QR</span>
    </a>
</div>

<div class="header-actions">
    <a href="/login" class="btn btn-outline">
        <i data-lucide="log-in"></i>
        <span>Ingresar</span>
    </a>
    <a href="/register" class="btn btn-primary">
        <i data-lucide="user-plus"></i>
        <span class="hide-mobile">Registrarse</span>
    </a>
</div>
